*{
margin: 0;
padding: 0;
font-family: 'FSPro';
}

a{
    text-decoration: none;
}

ul a{
    color: #00000E; 
}

header{
   display: flex;
   justify-content: space-between;
   align-items:center;
   margin: 30px;
}
 header .logo{
    padding-left: 30px;
} 




 header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 500;
} 

header ul li{
    padding-right: 20px;
    font-weight: 500;


}
ul a:hover{
    padding: 10px 20px;
    background:#5B51DE ;
    color: #FFFFFF;
    border-radius: 7px;

}
header ul li select{
    border: none;
}
  .sport{
    position: absolute;
    width: 370px;
    height: 370px;
    right: 30px;
    top: -170px;
    transform: rotate(20.56deg);
 } 

/*  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px ;
    position: absolute;
    z-index: -1;
    background: #5B51DE;
    height: 624px;


 }
 .row {
  
   

  } */
    .rectangle{

position: absolute;
width: 624px;
height: 624px;
left: 90px;
top: 137px;
background-image: url(images/Group\ 816.png);     
 }

/* 
 
  .circle{
    position: relative;
    width: 126px;
    height: 126px;
    clip-path: circle(50% at 50% 50%);
    background: #F4F4F8;
    grid-template-columns: auto auto auto ;


  }

 .c1 {
 left: 568px;
top: 469px;

 }

 .c2 { 
left: 568px;
top: 635px;
}
.c3 {
left: 568px;
top: 303px;
}

.c4 {
left: 568px;
top: 137px;
}

.c5{
left: 402px;
top: 635px;
}

.c6{
left: 402px;
top: 469px; 
}

.c7{
left: 402px;
top: 303px;   
}

.c8{
left: 402px;
top: 137px; 
}

.c9{
left: 236px;
top: 635px;  
}

.c10{
left: 236px;
top: 469px;  
}

.c11{
left: 236px;
top: 303px; 
}

.c12{
left: 236px;
top: 137px;   
}
.c13{
left: 70px;
top: 635px;
}
.c14{
left: 70px;
top: 469px;    
}

.c15{
left: 70px;
top: 303px;
}
.c16{
left: 70px;
top: 137px; 
}  */

.leftimg{
    z-index: 10;
    position: absolute;

}

/* .leftimg img{
    position: absolute;
    z-index: 100;
    justify-content: center;} */
  

    

.laptop{

    position: absolute;
    width: 550px;
    height:550px;
    left: 220px;
    top: 130px;    
}
.bag{
    position: absolute;
    width:380px;
    height:380px;
    left: -300;
    top: 27px;
    transform: rotate(360deg);
    z-index: -1;
    

}
.report{
    position: absolute;
    width: 350px;
    height: 350.67px;
    left: 490.12px;
    top: 160px;
}

.textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 545px;
    height: 450px;
    top: 212px;
    left :870px;
}

.Effective{
    
width: 545px;
height: 240px;
font-family: 'FSPro';
font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 80px;
color: #000000;
}

.text{
    width: 456px;
    height: 90px;
    font-family: 'FSPro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
    padding-top: 45px;
    color: rgba(0, 0, 14, 0.55); }





.box {   
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    margin-top: 10px;
    width: 403px;
    height: 10px;
    border: none;

}
.groupEB input{
    box-sizing: border-box;    
    display: flex;
    flex-direction: c;
    align-items: flex-start;
    padding: 17px 10px;
    gap: 10px;
    width: 250px;
    height: 55px;
    border: 1px solid #D5D5D6;
    border-radius: 7px;
 
}

.GetButtun {
    display: flex;
    flex-direction: c;
    align-items: center;
    justify-content: center;
    padding: 17px 10px;
    gap: 10px;
    border: none;
    outline: none;
    width: 138px;
    height: 55px;
   text-align: center;
    text-decoration: none;   
    background: #5B51DE;
    color: #FFFFFF;
    border-radius: 7px;
    flex: none;
    cursor: pointer;
    font-weight: 500;
    
}

.GetButtun:hover{
    padding: 17px 10px;
    background:transparent ;
    color: #5B51DE;
    border-radius: 7px;
    border: 2px solid #5B51DE;
    font-weight: 500;

}


  @font-face {
    font-family: 'FSPro';
    src: url('fonts/FontsFree-Net-SFProText-Regular.ttf');
    
  }